#catContainer {
    background-color: lightskyblue;
    margin: 0 auto;
    padding: 10px;
    width: 60%;
    font-size: 2em;
}


.category {
    background-color: lightblue;
    border: 1px black solid;
    display: inline-block;
    margin-left: 5%;
    width: 50%;
    padding: 10px;
    
}

.category:hover {
    background-color: blue;
    color: black;
}

body {
    font-family: 'Indie Flower', cursive;
    text-align: center;
   
    background-image: url("cube.jpg");   
}

#nmrOfQuestions {
    width: 50%;
    font-size: 0.7em;
    
}

option{
    background-color: black;
    color: white;

}

#questionContainer {
    display: none;
    background-color: lightskyblue;
    margin: 0 auto;
    padding: 10px;
    width: 60%;
    font-size: 2em;
}

/*.answer {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
}*/


#label1, #label2, #label3, #label4 {
width: 100%;
background-color: white;
padding-left: 20px;
padding-right: 20px;

}

#label1:focus {
    background-color: darkblue;
}

#the_header {
    width: 80%;
    margin: 0 auto;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  
}

input[type=checkbox]:active{
    color: red;
}

.answer
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

#statusContainer {
    margin: 0 auto;
    padding: 10px;
    width: 65%;
    height: auto;
    font-size: 1em;
    background-color: yellow;
}

.header {
    margin: 0 auto;
    width: 80%;
    height: auto;
    font-size: 1em;
    background-color: yellow;
}

@media screen and (max-width: 600px) {
    #statusContainer {
        font-size: 2em;
    }
    #the_header {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1em;
    }
    input[type=checkbox]
    {
    /* Double-sized Checkboxes */
    -ms-transform: scale(3); /* IE */
    -moz-transform: scale(3); /* FF */
    -webkit-transform: scale(3); /* Safari and Chrome */
    -o-transform: scale(3); /* Opera */
    transform: scale(3);
    margin: 10px;
    }
    
    #status {
        font-size: 0.8em;
    }
    #nextQuestion {      
        font-size: 1em;
        background-color: green;
    }
    #nextQuestion:hover {
        background-color: darkgreen;
    }
  }

  @media screen and (max-width: 250px) {
    #statusContainer {
        font-size: 1em;
    }

    input[type=text] {
        width: 50%;
    }
  }
